l<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Medicare Add New Products</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
crossorigin="anonymous">
</head>
<body>
<div class="container my-2">
<h1>Add New Medicines</h1>
<hr>
<form action="#" th:action="@{/saveproducts}" th:object="${products}" method="post"
enctype="multipart/form-data">

           Product Name<input type="text" field="*{productname}" name="productname"
                        placeholder="Product Name" class="form-control mb-4 col-4">
                <br>        
            Product Price<input type="text" field="*{price}" name="price" 
                        placeholder="Product Price" class="form-control mb-4 col-4">
                  <br>      
                 <div class="col-md-6 col-sm-6 contact-form1 form-group">
							<label class="col-form-label">Image</label>
							<input type="file" class="form-control" field="*{main_image}" placeholder="" 
							name="image" id="image">
				</div>
<br>
                <button type="submit" class="btn btn-info col-2">Save Product</button>
</form>
<a th:href="@{/showproducts}" class="btn btn-info col-2">Display Products</a></td>

</body>
</html>