<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Display Products </title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
crossorigin="anonymous">

</head>
<body>

<div  class="container my-2">
<h1>Medcinies Products List</h1>


<table border="1" class="table table-striped table-responsive-md">
<thead>
<tr>
      <th>Product Name</th>
      <th>Product Image</th>
     <th>Product Price</th>
     <th>Actions </th>
</tr>
</thead>

<tbody>
<tr th:each="products : ${listproducts}">
<td th:text="${products.productname}"></td>
<td><img class='img-thumbnail' 
th:src="'data:image/jpeg;base64,' + ${imgUtil.getImgData(products.image)}" width="60px" /></td>
<td th:text="${products.price}"></td>
<td><a th:href="@{/deleteproduct/{id}(id=${products.id})}" class="btn btn-danger">Delete</a></td>
</tr>
</tbody>
</table>
</div>

</body>
</html>